.btn {
  padding: 16px 32px;
  text-transform: uppercase;
  border: none;
  border-radius: 64px;
  background-color: rebeccapurple;
  color: white;
  box-shadow: 0px 1px 3px rgba(0,0,0,.24), 0px 1px 2px rgba(0,0,0,.12);
}

.btn:hover {
  background-color: pink;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.text-input {
  margin-top: 32px;
  position: relative;
}

.text-input span {
  position: absolute;
  left: 8px;
  top: 0;
  /* z-index: -1; */
}

.text-input input {
  padding: 8px 16px;
  border: none;
  border-radius: 64px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.24), 0px 1px 2px rgba(0,0,0,.12);
}

.text-input:has(input:focus) span {
  top: -24px;
}

.text-input:not(:has(input[value=""])) span {
  top: -24px;
}

.dark-mode {
  background-color: rgb(20,20,20);
  color: white;
}


body[data-theme="dark"] {
  background-color: rgb(20,20,20);
  color: white;
}

body[data-theme="blue"] {
  background-color: rgb(48, 48, 151);
  color: white;
}

body[data-theme="purple"] {
  background-color: rebeccapurple;
  color: white;
}
