body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: gray;
}


@keyframes loading {
  from {
    transform: rotateZ(0deg);
    /* background-color: rebeccapurple; */
  }
  to {
    transform: rotateZ(360deg);
    /* background-color: pink; */
  }
}


@keyframes corners {
  0% {
    border-top-left-radius: 64px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  25% {
    border-top-left-radius: 0px;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  50% {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 0px;
  }
  75% {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 64px;
  }
  100% {
    border-top-left-radius: 64px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}


.loading-spinner {
  border: 1px solid white;
  width: 128px;
  height: 128px;
  background-color: rebeccapurple;
  animation: corners;
  animation-duration: .3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}